<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Private housing: Factoring - Falkirk Council</title>
    <link rel="stylesheet" href="/css/site.min.css?v=GgiydX7TaMaK1v-VBcEUt3piwx_RVMuRuDymabwv7ms" />
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/img/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/img/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Falkirk" />
    <meta property="og:type" content="website" />
    <meta property="og:logo" content="/img/social-logo.png" />

    <meta name="htmx-config" content='{"selfRequestsOnly":false,"allowScriptTags":true,"indicatorClass":"htmx-indicator","historyCacheSize":0,"refreshOnHistoryMiss":true,"withCredentials":false,"defaultFocusScroll":false,"getCacheBusterParam":false,"globalViewTransitions":false,"antiForgery":{"formFieldName":"__RequestVerificationToken","headerName":"RequestVerificationToken","requestToken":"CfDJ8KMFDAXXe_1MqkAqWI5KK1BD_dssuCFYicEeUdFc5R1uvAspeT6yaI4BrgGFLDvcEkbtY0nJBUJuNRjU3MUyTBNAV1CAQNsUrA27nqBC0f8EsyptiLs1LsDjm-g9f7xANHde70kV4IRJo9XG_wEES-8"}}' />
    <script type="application/ld+json">
        {
           "@context": "http://schema.org",
           "@type": "WebSite",
           "url": "https://www.falkirk.gov.uk/",
           "potentialAction": {
             "@type": "SearchAction",
             "target": "https://www.falkirk.gov.uk/search?query={search_term_string}",
             "query-input": "required name=search_term_string"
           }
        }
    </script>
    <script src="/js/toggler.js?v=Zg4279re9MCHea43wrpbI0EeyVBPqB4cMPZLorh-lKQ"></script>
    

    <link rel="canonical" href="https://www.falkirk.gov.uk/private-housing/factoring" />
    
    <meta name="forge" content="pages/1422" />
    <meta property="og:title" content="Private housing: Factoring" />




</head>
<body>

    <header id="site-header">

        <div class="container pb-3">
            <nav id="skip-links" aria-label="Skip links">
                <ul>
                    <li>
                        <a href="#contents">
                            Skip to contents
                        </a>
                    </li>

                        <li>
                            <a href="#navigation">Skip to navigation</a>
                        </li>

                </ul>
            </nav>

            <div class="d-flex">
                <div class="flex-grow-1 pe-3 align-self-center">
                    <div id="logo">
                        <a href="/">
                            <h1 class="sr-only">Falkirk Council</h1>
                        </a>
                    </div>
                </div>
                <div class="text-end">

                    <button id="accessibilityToggle" title="Accessibility" type="button" class="btn text-white" data-bs-toggle="collapse" data-bs-target="#siteWCAG" aria-expanded="false" aria-controls="siteWCAG">
                        <i class="fa-solid fa-universal-access"></i> <span class="sr-only">Show accessibility toolbar</span>
                    </button>

                    <button id="siteSearchToggle" title="Menu" type="button" class="btn text-white" accesskey="s"
                            data-bs-toggle="collapse" data-bs-target="#searchMenu" aria-expanded="false" aria-controls="searchMenu">
                        <i class="fas fa-magnifying-glass" title="Search"></i> <span class="d-none d-lg-inline" id="siteSearchVerb">Services</span>
                    </button>

                </div>
            </div>
        </div>

        <div class="bg-body-tertiary collapse" id="siteWCAG" aria-label="Accessibility">
            <div class="container py-2">
                <div class="d-flex align-items-center justify-content-between">


                    <div>
                        <a href="/help" class="me-2 btn btn-sm btn-dark border-2 text-nowrap">
                            <i class="fa-solid fa-universal-access opacity-75"></i> Help <span class="d-none d-md-inline">using this website</span>
                        </a>

                        <button title="Accessibility tools" type="button" id="reciteMeBtn" class="me-2 text-nowrap btn btn-sm btn-warning">
                            <i class="fa-solid fa-language opacity-75"></i> <span class="d-none d-md-inline">Speak / Translate</span> <span class="d-md-none">Tools</span>
                        </button>
                    </div>

                    <div class="d-flex align-items-center">
                        <div class="form-check form-switch pe-3 mb-0">
                            <input class="form-check-input" type="checkbox" role="switch" id="darkModeSwitch">
                            <label class="form-check-label" for="darkModeSwitch">
                                <i class="fas fa-moon" style="color: rebeccapurple"></i> <span class="d-none d-md-inline">Dark mode</span>
                            </label>
                        </div>

                        <div class="form-check mb-0" title="Automatically choose based on my browser defaults">
                            <input class="form-check-input" type="checkbox" id="inheritBrowserDefault">
                            <label class="form-check-label" for="inheritBrowserDefault"><i class="fa-solid fa-circle-half-stroke"></i> <span class="d-none d-md-inline">Automatic</span></label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <nav class="bg-body-tertiary collapse" id="searchMenu" aria-label="Primary" role="navigation">
            <div class="container py-3">
                <div class="mb-4">
                    <div class="mb-1 d-flex justify-content-between">
                        <div>
                            <h2 class="fs-4 fw-bold pt-2 mb-0">
                                <span class="opacity-50"><i class="fad fa-list-tree" title="Group"></i></span> Services

                            </h2>
                            <p class="text-secondary">
                                Choose a service area or search

                            </p>
                        </div>
                        <img src="/img/spinner.svg" class="spinner htmx-indicator" id="search-spinner" aria-label="Search loading indicator" />


                    </div>
                    <label for="siteSearch" class="form-label visually-hidden">Search this website:</label>

                    <input hx-swap="innerHTML" hx-target="#searchResults" hx-trigger="input changed delay:1000ms, keyup[key=='Enter']" hx-push-url="true" hx-indicator="#search-spinner" type="search" id="siteSearch" class="form-control form-control-lg" placeholder="Search here..." name="query" hx-history="false" hx-get="/search" />

                    <div id="searchResults">
                    </div>
                </div>

                <div id="primary-nav-services">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-6 p-1">
                                    <a class="btn d-block btn-success flex-fill mx-1 mb-2 text-nowrap" href="/pay">
                                        <i class="fas fa-pound-sign" title="Pay it"></i> Pay for it
                                    </a>

                                </div>
                                <div class="col-6 p-1">
                                    <a class="btn d-block btn-primary flex-fill mx-1 mb-2 text-nowrap" href="/request">
                                        <i class="fas fa-pencil" title="Request it"></i> Request it
                                    </a>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-6 p-1">
                                    <a class="btn d-block btn-danger flex-fill mx-1 mb-2 text-nowrap" href="/report">
                                        <i class="fas fa-map-pin" title="Report it"></i> Report it
                                    </a>

                                </div>
                                <div class="col-6 p-1">
                                    <a class="btn d-block btn-warning flex-fill mx-1 mb-2 text-nowrap" href="/find">
                                        <i class="fas fa-search" title="Find it"></i> Find it
                                    </a>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div hx-trigger="intersect once" hx-target="this" hx-swap="outerHTML" hx-get="/api/themes/all">
                    </div>
                </div>
            </div>
        </nav>
    </header>   
    <main role="main">
        <header class="">
            <div class="container">
                

    <div id="contents">
        <div class="mb-3">
            <nav aria-label="breadcrumb" id="breadcrumb">
                <div class="crumb">
                    <a class="text-reset" href="/services"><i class="fad fa-list-tree" title="Services"></i></a>
                </div>
                <div class="crumb">
                    <a href="/private-housing">
                        Private housing
                    </a>
                </div>

            </nav>
            <div id="headerTitle">
                <h1 id="headerTitleText">
                    Factoring
                </h1>

            </div>
        </div>
    </div>




            </div>
        </header>
        <div id="page-body">
            

<div class=""></div>




<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div id="toc-scope">
                <!-- Page: Factoring  -->
<!-- Description:  -->
<div class="block" id="section-10870">
<h2 id="what-is-factoring">What is factoring?</h2>
<div class="block-content">
  <p>Factoring can be where:</p>
<ul>
<li>the shared parts of two or more residential properties are managed and maintained for you by your local authority, a <a href="/council-housing/housing-allocations/housing-associations">registered social landlord</a> or a private business.</li>
<li>common land owned by two or more people is managed or maintained by a land private business.</li>
</ul>
<p>A factor can provide services to inspect and maintain common parts. This includes liaising with owners, organising necessary works and the administration of bills and payments.</p>
</div>
</div>

<div class="block" id="section-10871">
<h2 id="if-you-are-affected-by-factoring">If you are affected by factoring</h2>
<div class="block-content">
  <p>The Property Factors (Scotland) Act 2011 applies to homeowners who get property management and maintenance services from a local authority, a registered social landlord or a private business.</p>
<ul>
<li>All factors must register with the Scottish Government. You can search for information about a property factor at the <a href="https://www.propertyfactorregister.gov.scot/PropertyFactorRegister/">Scottish Property Factor Register</a></li>
<li>Factors must comply with the Code of Conduct</li>
<ul>
<li>The <a href="https://www.gov.scot/publications/property-factors-scotland-act-2011-code-conduct-property-factors/">2012 Code of Conduct</a> applies to complaints about an alleged act/omission of a property factor up to 16 August 2021.</li>
<li>The <a href="https://www.gov.scot/publications/property-factors-scotland-act-2011-code-conduct-property-factors-2/pages/1/">2021 Code of Conduct</a> applies to complaints about an alleged act/ omission of a property factor on or after 16 August 2021.</li>
</ul>
<li>If the homeowner feels the factor has not carried out their duties correctly, the homeowner can ask the <a href="https://www.housingandpropertychamber.scot/apply-tribunal">First-tier Tribunal for Scotland (Housing &amp; Property Chamber)</a> to resolve any issues.</li>
</ul>
</div>
</div>

<div class="block" id="section-10872">
<h2 id="falkirk-council-factoring">Falkirk Council factoring</h2>
<div class="block-content">
  <p>You are affected by factoring if you own an ex-Falkirk Council property within any of the following high rise blocks:</p>
</div>
</div>

<div class="block" id="section-10873">
<div class="block-content">
	  
</div>
<div class="row">
  <div class="col-md-6">
  	<div><ul>
<li>Belmont Tower</li>
<li>Breton Court</li>
<li>Corentin Court</li>
<li>Eastburn Tower</li>
<li>Leishman Tower</li>
</ul></div>
  </div>
  <div class="col-md-6">
    <div><ul>
<li>Marshall Tower</li>
<li>Maxwell Tower</li>
<li>Parkfoot Court</li>
<li>Paterson Tower</li>
<li>Symon Tower</li>
</ul></div>
  </div>
</div>
</div>

<div class="block" id="section-10874">
<div class="block-content">
  <p>Statement of Services were sent to all homeowners who receive factoring service from us in September 2013. In March 2015, an updated Statement of Services was issued to all factored owners. Updated copies have been issued since then detailing contact information and fees changes.</p>
<p>The current Written Statement of Services can be accessed below:</p>
</div>
<div class="block-attachments">
<div class="block-attachment">
<div class="d-flex">
<div class="me-3 text-center">
<i class="fas fs-4 fa-file-download text-secondary"></i>
</div>
<div>
<a href="https://fcwebsites.blob.core.windows.net/www/media/c03507ab-2cb1-42c4-bc5e-f80b11eac186/Specimen Written Statement of Service (2025-2026).docx" id="attachment-2169" title="Specimen Written Statement of Service (2025-2026), Word Document (67.76 KB)">
Specimen Written Statement of Service (2025-2026)
</a>
<div class="small"></div>
<div class="small text-secondary">Word Document, 67.76 KB</div>
</div>
</div>
</div>


</div>
</div>

<div class="block" id="section-10876">
<div class="block-content">
  <p>If you have recently bought a property in one of the listed blocks and do not have a Statement of Services, please <a href="#contact-us" target="_self">contact us</a>.</p>
<p>Satisfaction information and an update on Factoring issues can be found in our Factoring newsletter:</p>
</div>
<div class="block-attachments">
<div class="block-attachment">
<div class="d-flex">
<div class="me-3 text-center">
<i class="fas fs-4 fa-file-download text-secondary"></i>
</div>
<div>
<a href="https://fcwebsites.blob.core.windows.net/www/media/db5a8b3d-1c21-49df-912e-3855794b534f/Factoring-satisfaction-survey-results-March-2025.pdf" id="attachment-2505" title="Factoring satisfaction survey results (March 2025), PDF (238.27 KB)">
Factoring satisfaction survey results (March 2025)
</a>
<div class="small"></div>
<div class="small text-secondary">PDF, 238.27 KB</div>
</div>
</div>
</div>

<div class="block-attachment">
<div class="d-flex">
<div class="me-3 text-center">
<i class="fas fs-4 fa-file-download text-secondary"></i>
</div>
<div>
<a href="https://fcwebsites.blob.core.windows.net/www/media/a8966d62-a583-4224-8a3d-6607658c9c5a/Factoring newsletter (January 2025).pdf" id="attachment-2050" title="Factoring newsletter (January 2025), PDF (230.16 KB)">
Factoring newsletter (January 2025)
</a>
<div class="small"></div>
<div class="small text-secondary">PDF, 230.16 KB</div>
</div>
</div>
</div>

<div class="block-attachment">
<div class="d-flex">
<div class="me-3 text-center">
<i class="fas fs-4 fa-file-download text-secondary"></i>
</div>
<div>
<a href="https://fcwebsites.blob.core.windows.net/www/media/ec542e48-0770-4882-92ad-f12d6d617604/Factoring satisfaction survey results (March 2024).pdf" id="attachment-1876" title="Factoring satisfaction survey results (March 2024), PDF (196.25 KB)">
Factoring satisfaction survey results (March 2024)
</a>
<div class="small"></div>
<div class="small text-secondary">PDF, 196.25 KB</div>
</div>
</div>
</div>

<div class="block-attachment">
<div class="d-flex">
<div class="me-3 text-center">
<i class="fas fs-4 fa-file-download text-secondary"></i>
</div>
<div>
<a href="https://fcwebsites.blob.core.windows.net/www/media/3ad3c635-e1bd-4697-bbd9-34eaab5b1fa6/Factoring newsletter (November 2023).pdf" id="attachment-1875" title="Factoring newsletter (November 2023), PDF (138.56 KB)">
Factoring newsletter (November 2023)
</a>
<div class="small"></div>
<div class="small text-secondary">PDF, 138.56 KB</div>
</div>
</div>
</div>


</div>
</div>

<div class="block" id="section-10885">
<div class="block-content">
  <p>Satisfaction surveys are issued annually in paper form and electronically via our Participate+ Platform. Please see our <a href="https://www.falkirk.gov.uk/consultations-and-surveys">Consultation and survey</a> for more information.</p>
<p><strong>(Falkirk Council's property factor registered number: PF000365)</strong></p>
</div>
</div>

<div class="block" id="section-10886">
<h2 id="non-falkirk-council-factoring">Non Falkirk Council factoring</h2>
<div class="block-content">
  <p>Homeowners receiving any other factoring services should contact their factor directly or search the&nbsp;<a href="https://www.propertyfactorregister.gov.scot/PropertyFactorRegister/">Scottish Property Factor Register</a>.</p>
</div>
</div>

<div class="block" id="section-10887">
<h2 id="co-owner-repairs">Co-owner repairs</h2>
<div class="block-content">
  <p>If you own an ex-Falkirk Council property in any other block, communal repairs can be arranged by any co-owner. This is not covered by factoring, for further information see&nbsp;<a href="/council-housing/repairs-and-maintenance/common-repairs">common repairs</a>.</p>
<p>The above is intended as a guide only and is not to be treated as a substitute for legal advice.</p>
</div>
</div>

<div class="block" id="section-10891">
<h2 id="further-information">Further information</h2>
<div class="block-content">
  <ul>
<li><a href="/antisocial-behaviour">Antisocial behaviour and reporting</a></li>
<li><a href="/council-housing/repairs-and-maintenance/common-repairs">Common repairs</a></li>
<li><a href="/council-housing/your-council-tenancy/high-rise-flats-fire-safety#external-wall-fire-review-forms-ews1">External Wall Fire Review Forms (EWS1)</a></li>
<li><a href="/council-housing/your-council-tenancy/high-rise-flats-fire-safety">High rise flats (fire safety)</a></li>
<li><a href="/housing-policies-strategies/housing-performance">Performance on factoring</a> &ndash; this is included in the Scottish Social Housing Charter.</li>
</ul>
<p>If you wish to make a complaint, please use our <a href="https://www.falkirk.gov.uk/reportcomplaint">complaints form</a>. Please also see the Factoring Complaints Procedure - Summary below.</p>
<p></p>
</div>
<div class="block-attachments">
<div class="block-attachment">
<div class="d-flex">
<div class="me-3 text-center">
<i class="fas fs-4 fa-file-download text-secondary"></i>
</div>
<div>
<a href="https://fcwebsites.blob.core.windows.net/www/media/5002a003-0949-4068-87dd-3f6601d558c5/Factoring Complaints Procedure - Summary.docx" id="attachment-1881" title="Factoring Complaints Procedure - Summary, Word Document (43.77 KB)">
Factoring Complaints Procedure - Summary
</a>
<div class="small"></div>
<div class="small text-secondary">Word Document, 43.77 KB</div>
</div>
</div>
</div>


</div>
</div>

<div class="block" id="section-12157">
<div class="block-content">
  <p>If you have taken the Buildings Insurance option with Falkirk Council and need to make a claim, please see our the claim form.</p>
</div>
<div class="block-attachments">
<div class="block-attachment">
<div class="d-flex">
<div class="me-3 text-center">
<i class="fas fs-4 fa-file-download text-secondary"></i>
</div>
<div>
<a href="https://fcwebsites.blob.core.windows.net/www/media/fa53fb09-1a5b-4795-ad7d-9b466d18aa66/Building Insurance Claims Form – Multi-Storey Flats.docx" id="attachment-1996" title="Building Insurance Claims Form – Multi-Storey Flats, Word Document (59.25 KB)">
Building Insurance Claims Form – Multi-Storey Flats
</a>
<div class="small"></div>
<div class="small text-secondary">Word Document, 59.25 KB</div>
</div>
</div>
</div>


</div>
</div>

<div class="block" id="section-12156">
<div class="block-content">
  <p>For information on our Corporate Debt Recovery Process and the Factoring Debt Recovery Overview please see documents below.</p>
</div>
<div class="block-attachments">
<div class="block-attachment">
<div class="d-flex">
<div class="me-3 text-center">
<i class="fas fs-4 fa-file-download text-secondary"></i>
</div>
<div>
<a href="https://fcwebsites.blob.core.windows.net/www/media/6bd25159-8496-4227-8703-ca18bb8d1561/Debt recovery policy.docx" id="attachment-1995" title="Debt recovery policy, Word Document (50.06 KB)">
Debt recovery policy
</a>
<div class="small"></div>
<div class="small text-secondary">Word Document, 50.06 KB</div>
</div>
</div>
</div>

<div class="block-attachment">
<div class="d-flex">
<div class="me-3 text-center">
<i class="fas fs-4 fa-file-download text-secondary"></i>
</div>
<div>
<a href="https://fcwebsites.blob.core.windows.net/www/media/907c577a-a629-4335-84ae-18985153d6cf/Factoring Debt Recovery Overview.docx" id="attachment-1994" title="Factoring Debt Recovery Overview, Word Document (38.34 KB)">
Factoring Debt Recovery Overview
</a>
<div class="small"></div>
<div class="small text-secondary">Word Document, 38.34 KB</div>
</div>
</div>
</div>


</div>
</div>

<div class="block" id="section-10950">
<h3 id="information-from-other-sources">Information from other sources</h3>
<div class="block-content">
  <ul>
<li><a href="https://www.gov.scot/publications/fire-and-smoke-alarms-in-scottish-homes/">Fire and smoke alarms: the law (Scottish Government)</a></li>
<li><a href="https://www.firescotland.gov.uk/at-home/smoke-and-heat-alarms/">Fire, smoke and heat alarms (Scottish Fire &amp; Rescue Service)</a></li>
</ul>
</div>
</div>

<div class="block" id="section-10892">
<h2 id="contact-us">Contact us</h2>
<div class="block-content">
  <p>For information or advice please contact your local <a href="/offices/advice-and-support-hubs">Advice and Support Hub</a>.</p>
</div>
</div>
            </div>

        </div>
        <div class="col-lg-4" id="toc-col">
                <div id="toc-container">
                    <div class="d-flex justify-content-between p-2">
                        <div class="pt-1"><i class="fad fa-list-ol opacity-75"></i> On this page <a href="#top" class="small text-decoration-none">↑</a></div>
                        <div>
                            <button title="Pin to top of the page" class="btn btn-sm p-0 px-2 d-none d-lg-inline" type="button" id="nav-toc-pin" aria-controls="toc-container">
                                <i class="fa-solid fa-thumbtack opacity-75" id="nav-toc-pin-icon"></i>
                            </button>
                            <button title="Expand/collapse navigation menu" class="btn btn-sm p-0 px-2" type="button" data-bs-toggle="collapse" data-bs-target="#nav-toc-collapser" aria-expanded="true" aria-controls="nav-toc-collapser">
                                <i class="fas fa-eye opacity-75" id="nav-toc-icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class=" border-top collapse show" id="nav-toc-collapser">
                        <ol id="toc">
                            <li><a href="#contents">Skip to content</a></li>
                        </ol>
                    </div>
                </div>

            <aside class="mb-3">
                    <div hx-trigger="intersect" hx-swap="outerHTML" hx-get="/api/topics/nav/70?via=factoring">
                        <!-- Other sections in this Topic -->
                    </div>
            </aside>

            <div id="promo-space"></div>
        </div>
    </div>
</div>







        </div>
    </main>

    <footer class="p-3 border-top" role="contentinfo">
        <div class="container">

            <div class="row">
                <div class="col-lg-8 mb-3">
                    <ul class="list-inline mb-1 small">
                        <li class="list-inline-item">
                            <a href="#top" class="text-decoration-none text-secondary" title="Scroll to the top of this page">↑</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/help/accessibility" class="text-secondary">Accessibility</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-secondary" href="/contact-us">Contact us</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/help/cookies" class="text-secondary">Cookies</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-secondary" href="/privacy">Privacy</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-secondary" href="/sitemap">Sitemap</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/help/terms-and-conditions" class="text-secondary">Terms</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-secondary" href="/news">News</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-secondary" href="/employees">Employees</a>
                        </li>

                    </ul>

                    <div class="small">&copy; 2026 - Falkirk Council</div>
                </div>
                <div class="col-lg-4">
                    <div class="social">
                        <a href="https://www.youtube.com/FalkirkCouncil" title="YouTube" target="_blank" class="text-reset btn btn-sm border bg-body">
                            <i class="fa-brands fa-youtube"></i> <span class="d-none d-xl-inline">YouTube</span>
                        </a>
                        <a href="https://www.facebook.com/falkirkcouncil/" title="Facebook" target="_blank" class="text-reset btn btn-sm border bg-body">
                            <i class="fa-brands fa-facebook"></i> <span class="d-none d-xl-inline">Facebook</span>
                        </a>
                        <a href="https://x.com/FalkirkCouncil" title="Twitter (X)" target="_blank" class="text-reset btn btn-sm border bg-body">
                            𝕏 <span class="d-none d-xl-inline">Twitter</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/htmx/htmx.min.js"></script>
    <script src="/js/site.js?v=a-XoPJ8h6wrVMsmYI9gn1ANOFBW8w7GWzAgogPoCRXM" type="module"></script>
    <script src="/js/reciteme.js?v=1uTt9JSxTe2_3cQFHH9u7Z2eJQvHShFZoU6yuISUCyc"></script>
    <script>document.body.attributes.__htmx_antiforgery||(document.addEventListener("htmx:configRequest",(e=>{if("GET"===e.detail.verb.toUpperCase())return;let t=htmx.config.antiForgery;if(t){if(e.detail.parameters[t.formFieldName])return;t.headerName?e.detail.headers[t.headerName]=t.requestToken:e.detail.parameters[t.formFieldName]=t.requestToken}})),document.addEventListener("htmx:afterOnLoad",(e=>{if(e.detail.boosted){const t="meta[name=htmx-config]",r=(new DOMParser).parseFromString(e.detail.xhr.responseText,"text/html").querySelector(t);if(r){const e=document.querySelector(t),a="antiForgery";htmx.config[a]=JSON.parse(r.attributes.content.value)[a],e.replaceWith(r)}}})),document.body.attributes.__htmx_antiforgery=!0);</script>
    
        <script type="module" src="/js/toc.js?v=P3hkC1Ki3mqTz4XBrdgIIoJ581fSR64Rji39KQOh6U8"></script>

    <script async src="https://siteimproveanalytics.com/js/siteanalyze_369877.js"></script>
</body>
</html>

